h3, h4, h5 {
    margin-left: 5px;
}

.action-container {
    display: flex;
    justify-content: center;
    margin: 24px 0; 
}

.massive-mobile-btn {
    width: 90%; 
    max-width: 400px; 
    padding: 24px 16px !important;
    font-size: 1.2rem !important; 
    border-radius: 12px !important; 
}