@if (model) {
    <h2 style="text-align: center;">{{model.productName}}</h2>
    <h4 style="text-align: center; color: gray;">
        {{convertLocalDateStringToTurkeyDateString(model.bestBeforeDate)}}
    </h4>

    @if (quantityList.length > 0){
        <div class="action-row">
            <mat-form-field appearance="outline" class="qty-select">
                <mat-label>Adet</mat-label>
                <mat-select [(ngModel)]="selectedGiveQuantity">
                    @for (qty of quantityList; track qty) {
                    <mat-option [value]="qty">{{qty}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <button mat-flat-button color="primary" (click)="onAction(selectedGiveQuantity, 'GIVE')">
                Sattım
            </button>
        </div>

        <div class="action-row">
            <mat-form-field appearance="outline" class="qty-select">
                <mat-label>Adet</mat-label>
                <mat-select [(ngModel)]="selectedSaleQuantity">
                    @for (qty of quantityList; track qty) {
                    <mat-option [value]="qty">{{qty}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <button mat-flat-button color="warn" (click)="onAction(selectedSaleQuantity, 'SALE')">
                Müşteri Kendi Aldı
            </button>
        </div>
    } @else {
        <h4 style="text-align: center; color: green;">ÜRÜN BİTTİ</h4>
    }

    <br><br><br>

    <div class="action-row">
        <button mat-flat-button color="warn" 
            [routerLink]="['/update-bbd-record', model.bbdRecordId]"
            [state]="{bbdRecordId : model.bbdRecordId}" >
            Kaydı Düzenle
        </button>
    </div>

    <div class="action-row">
        <button mat-flat-button color="warn" (click)="onDelete()">
            SKT Kaydını Sil
        </button>
    </div>

} 