<app-header-component />

@if (isUserAdmin && userId > 0) {
<h2 class="text-align-center">Yönetici Paneli</h2>

<div class="action-container">
    <div class="action-container">
        <button type="button" mat-flat-button color="primary" class="massive-mobile-btn" routerLink="/add-user">
            <mat-icon>add_circle_outline</mat-icon>
            Kullanıcı Ekle
        </button>
    </div>

    <div class="action-container">
        <button type="button" mat-flat-button color="primary" class="massive-mobile-btn" routerLink="/add-store">
            <mat-icon>store</mat-icon>
            Mağaza Ekle
        </button>
    </div>
</div>

} @else if (!doesUserHaveStore && userId > 0){
<h2 class="text-align-center">Bir Mağazaya Bağlı Değilsiniz!</h2>
} @else if (userId > 0) {
<div class="action-container">
    <button type="button" mat-flat-button color="primary" class="massive-mobile-btn"
        routerLink="/add-or-update-bbd-record">
        <mat-icon>add_circle_outline</mat-icon>
        SKT Ekle
    </button>
</div>

@if (bestBeforeDatePastList?.length! > 0) {
<h2 class="text-align-center" style="color: rgb(184, 6, 6);">
    Şu Ürünler Satışta Var Mı Diye Kontrol Edilmeli :
</h2>

@for (bbdPast of bestBeforeDatePastList; track bbdPast.bbdRecordId) {
<mat-card class="product-card expired-card  clickable-card" style="margin: 5px;" matRipple
    [routerLink]="['/bbd-past', bbdPast.bbdRecordId]" [state]="{ bbdRecordId: bbdPast.bbdRecordId }">
    <mat-card-header>
        <mat-card-title>{{bbdPast.productName}}</mat-card-title>
        <mat-card-subtitle>{{bbdPast.productCode}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="product-grid">
            <div class="data-item">
                <span class="label">Miktar: </span>
                <span class="value highlighting" [class.negative-impact]="bbdPast.quantity > 0">
                    {{bbdPast.quantity}} Adet
                </span>
            </div>
            <div class="data-item">
                <span class="label">SKT Tarihi: </span>
                <span class="value" [class.negative-impact]="bbdPast.quantity > 0">
                    {{convertLocalDateStringToTurkeyDateString(bbdPast.bestBeforeDate)}}
                </span>
            </div>
            <div class="data-item">
                <span class="label">Envantere Etkisi: </span>
                <span class="value" [class.negative-impact]="bbdPast.affectInventory < 0">
                    {{bbdPast.affectInventory}} TL
                </span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
}
}

<h2 class="text-align-center">{{storeCode}} : {{storeName}} SKT Listesi</h2>

@for (removalDateSection of removalDateSectionList; track $index) {
<div class="date-section">
    <h3 class="section-header">
        <mat-icon>calendar_today</mat-icon>
        {{convertLocalDateStringToTurkeyDateString(removalDateSection.removalDate)}} Akşamında Kaldırılacaklar
    </h3>

    @for (bbdRecord of removalDateSection.productElementForRemovalDateSections; track $index) {
    <mat-card class="product-card clickable-card" matRipple [routerLink]="['/edit-bbd-record', bbdRecord.bbdRecordId]"
        [state]="{ bbdRecordId: bbdRecord.bbdRecordId }">
        <mat-card-header>
            <mat-card-title>{{bbdRecord.productName}}</mat-card-title>
            <mat-card-subtitle>{{bbdRecord.productCode}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="product-grid">
                <div class="data-item">
                    <span class="label">Miktar: </span>
                    <span class="value highlighting" [class.negative-impact]="bbdRecord.quantity > 0">
                        {{bbdRecord.quantity}} Adet
                    </span>
                </div>
                <div class="data-item">
                    <span class="label">SKT Tarihi: </span>
                    <span class="value">
                        {{convertLocalDateStringToTurkeyDateString(bbdRecord.bestBeforeDate)}}
                    </span>
                </div>
                <div class="data-item">
                    <span class="label">Envantere Etkisi: </span>
                    <span class="value" [class.negative-impact]="bbdRecord.affectInventory < 0">
                        {{bbdRecord.affectInventory}} TL
                    </span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    }
</div>
}
}