
@if (store) {
    <h2 style="text-align: center; margin-bottom: 24px; color: #1f2937; font-size: 1.5rem;">
        {{store.storeCode}} : {{store.storeName}} Mağazası İçin 
    </h2>

    @if (userIdAndCodeResponseDtoList && userIdAndCodeResponseDtoList.length! > 0) {
    <h2 style="text-align: center; margin-bottom: 24px; color: #1f2937; font-size: 1.5rem;">
        Personel Seç : 
    </h2>

    <div class="user-list-container">
        @for (user of userIdAndCodeResponseDtoList; track user.id) {
            <div class="user-list-item">
                <div class="user-info">
                    <span class="user-icon">👤</span>
                    <span class="user-name">Kodu : {{user.userName}}</span>
                </div>
                
                <button class="choose-user-btn" type="button" (click)="selectUser(user.id)">
                    Seç
                </button>
            </div>
        }
    </div>
}

    <h2 style="text-align: center; margin-bottom: 24px; color: #1f2937; font-size: 1.5rem;">
        Yeni Personel Kaydı Oluştur : 
    </h2>

    <div class="add-or-update-bbd-record-container">
        <form [formGroup]="userForm" (ngSubmit)="add()">

            <div class="form-group">
                <label for="userCode">Kullanıcı Kodu : </label>
                <input 
                    id="userCode" 
                    formControlName="userCode" 
                    type="number" 
                >
            </div>

            <div class="form-group">
                <label for="password">Şifre : </label>
                <input 
                    id="password" 
                    formControlName="password" 
                    type="password" 
                >
            </div>

            <button id="addUserButton" type="submit" [disabled]="userForm.invalid">Kaydet</button>
        </form>
    </div>
}
